.vscode/**
.vscode-test/**
.vscode-test.mjs
.venv/**
.tools/**
src/**
out/test/**
subprojects/**
scripts/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
.prettierignore
.prettierrc
eslint.config.mjs
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.log
logs/**
*.vsix
